@media print {
  .table-of-contents {
    page-break-after: always;
    break-after: page;
  }

  .table-of-contents ul {
    list-style: none;
    padding-left: 0;
  }

  .table-of-contents ul ul {
    padding-left: 1.5em;
  }

  .table-of-contents li {
    margin-bottom: 0.3em;
    line-height: 1.4;
  }

  .table-of-contents a {
    text-decoration: none;
    color: inherit;
  }
}
