@media print {
  :root {
    --yaae-print-toc-indent: 1.5em;
    --yaae-print-toc-item-margin: 0.3em;
    --yaae-print-toc-line-height: 1.4;
  }

  .table-of-contents {
    page-break-after: always;
    break-after: page;
  }

  .table-of-contents ul {
    list-style: none;
    padding-left: 0;
  }

  .table-of-contents ul ul {
    padding-left: var(--yaae-print-toc-indent);
  }

  .table-of-contents li {
    margin-bottom: var(--yaae-print-toc-item-margin);
    line-height: var(--yaae-print-toc-line-height);
  }

  .table-of-contents a {
    text-decoration: none;
    color: inherit;
  }
}
